@mixin basic-button {
  border-radius: 25px;
  border: none;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.19);
  width: 150px;
  padding: 5px 0;
  font-family: $generic-font-family;
  font-size: $base-font-size * 0.9;
  color: map-get($map: $colors, $key: almost-white);
  cursor: pointer;
}

@each $color, $value in $colors {
  .button-#{$color} {
    @include basic-button();
    background-color: $value;
  }
}
