@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,500;1,600&display=swap");

$generic-font-family: "Montserrat", sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

@mixin title-big {
  font-size: 24px;
  font-weight: 700;
  padding: 4px;
  font-family: $generic-font-family;
  color: map-get($map: $colors, $key: violet);
}

.title-big {
  @include title-big();
  padding-bottom: 20px;
}
